In [6]:
import os
import pandas as pd

### DATA UNDERSTANDING MISSION 1

### LABELS

In [8]:
MISSION_PATH = "C:\\Users\\marti\\Desktop\\Tesi Magistrale\\FILES\\data\\ESA-Mission1"
labels_path = os.path.join(MISSION_PATH, "labels.csv")
df_labels = pd.read_csv(labels_path)
df_labels

### ANOMALY TYPES

In [11]:
anomaly_types_path = os.path.join(MISSION_PATH, "anomaly_types.csv")
df_anomaly_types = pd.read_csv(anomaly_types_path)
df_anomaly_types

,ID,Class,Subclass,Category,Dimensionality,Locality,Length
0,id_1,class_6,subclass_1,Rare Event,Multivariate,Global,Subsequence
1,id_2,class_7,subclass_1,Anomaly,Multivariate,Local,Subsequence
2,id_3,class_7,subclass_1,Anomaly,Multivariate,Global,Subsequence
3,id_4,class_7,subclass_1,Anomaly,Multivariate,Local,Subsequence
4,id_5,class_7,subclass_1,Anomaly,Multivariate,Local,Subsequence
...,...,...,...,...,...,...,...
195,id_196,class_22,subclass_2,Rare Event,Univariate,Global,Subsequence
196,id_197,class_22,subclass_2,Rare Event,Univariate,Global,Subsequence
197,id_198,class_22,subclass_2,Rare Event,Univariate,Global,Subsequence
198,id_199,class_22,subclass_1,Anomaly,Univariate,Local,Subsequence
199,id_200,class_15,subclass_1,Anomaly,Multivariate,Global,Subsequence

### CHANNELS

In [12]:
channels_path = os.path.join(MISSION_PATH, "channels.csv")
df_channels = pd.read_csv(channels_path)
df_channels

       Channel    Subsystem    Physical Unit  Group Target
0    channel_1  subsystem_1  physical_unit_1      1     NO
1    channel_2  subsystem_1  physical_unit_1      1     NO
2    channel_3  subsystem_1  physical_unit_1      1     NO
3    channel_4  subsystem_1  physical_unit_2      2     NO
4    channel_5  subsystem_1  physical_unit_2      2     NO
..         ...          ...              ...    ...    ...
71  channel_72  subsystem_3  physical_unit_4     18    YES
72  channel_73  subsystem_3  physical_unit_4     18    YES
73  channel_74  subsystem_3  physical_unit_4     18    YES
74  channel_75  subsystem_3  physical_unit_4     18    YES
75  channel_76  subsystem_3  physical_unit_4     18    YES

[76 rows x 5 columns]